.popup__input {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin: 30px 36px 0px;
  width: 358px;
  border-width: 0px 0px 1px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0px 0px 13px;
}

.popup__input:focus{
  outline: none;
}

@media screen and (max-width: 580px) {
  .popup__input {
    margin: 30px 22px 0px;
    width: 238px;
  }
}

.popup__input:invalid {
  border-bottom: 1px solid #FF0000;
}