.profile__info-occupation {
  font-size: 18px;
  line-height: 22px;
  margin: 16px 0 0;
  overflow: hidden;
}

@media screen and (max-width: 680px) {
  .profile__info-occupation {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 14px;
  }
}