.element__button {
  height: 19px;
  width: 22px;
  padding: 0px;
  border: 0px;
  background-image: url('../../../image/Vector3.svg');
}

.element__button:hover {
  opacity: 0.5;
}

.element__button:focus{
  outline: none;
}

.element__button:active {
  border: none;
  opacity:1;
  background-image: url('../../../image/Vector4.svg');
}